@model List<Category>

@{
    ViewBag.Title = "Category Management";
    Layout = "_Layout";
}

<div class="container fs-3">
    <h2>Category</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <th scope="row">@category.Name</th>
                <th scope="row">@category.Description</th>
                <td>
                    <a type="button" class="btn btn-danger"
                       asp-controller="Categories"
                       asp-action="Delete"
                       asp-route-categoryId="@category.Id">
                        Delete
                    </a>
                    <a type="button" class="btn btn-primary"
                       asp-controller="Users"
                       asp-action="ApproveCategory"
                       asp-route-categoryId="@category.Id">
                        Approve
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
